.country_name {
  font-size: 60px;
  transform: translateY(-70%) translateX(5%);
  text-align: right;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.background.front {
	overflow: hidden;

	.country_name {
	  color: white;
	}
}